/*
this file contains the style properties of the html file
*/

/*
changes background color, font color, font size, font type for whole page
*/
body{
  background-color: #C7F9CC;
  color: #22577A;
  font-family: monospace;
  font-size: 1.2em;
}

/* css style for input elements*/
input{
  height: 2em;
  width: 30em;
  border-radius: 0.3em;
  color: inherit;
  font-weight: bold;
}

/* css style for container class*/
.container{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: auto;
  margin-bottom: auto;
}

/* css style for center class to allign the text center*/
.center{
  text-align: center;
}

/* css style for row class*/
.row{
  column-count: 2;
  column-gap: 2em;
  column-width: 40em;
  column-span: 40em;
}

/* css style for col class*/
.col{
  column-width: 40em;
  font-weight: bold;
}
